@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: rgb(49, 30, 117);

}

h1 {
    color: rgb(184, 165, 165);
    font-family: Helvetica, sans-serif; 
    font-weight: bolder;
}

.h1 {
  font-size: 175px;
}

.flip {
    transform: rotate(180deg);
}